* {
  user-select: none;

  font-family: "Bangers", cursive;
}
body {
  margin: 0;
  padding: 0;
  font-size: 20px;

  background: #87cefa;
}
/* VARIABLES COLORES */
:root {
  --color-bg-calendar: #008080;
  --color-cell: #1f0808;
  --color-font-calendar: white;

  --color-cell-selected: white;
  --color-bg-cell-disabled: #5f9ea0;
}
/* CONTENEDOR RAÍZ DEL CALENDARIO */
.root {
  min-height: 100vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* CONTENEDOR CALENDARIO */
.calendar__container {
  width: 100%;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 10px;
  font-family: sans-serif;
  background: var(--color-bg-calendar);

  border-radius: 10px;
}

